/* App.css */

.recipe-page {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: ##eadec9;
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}

.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  padding: 1em;
  background-color: #f7f7f7;
}

.inventory-container {
  flex: 1;
  color: black;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  background-color: rgba(255, 254, 240, 0.7);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* CSS for modern and visually appealing table */

.inventory-table {
  margin-top: 1px;
  margin-right: 50px;
  width: 50%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.inventory-table th {
  background-color: #b1e2b1;
  color: #333;
  padding: 5px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
}

.inventory-table td {
  padding: 5px;
  font-size: 14px;
  border-bottom: 1px solid #f0f0f0;
}

.inventory-table tr:hover {
  background-color: #f5f5f5;
}

.inventory-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.finalize-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 8px;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #7f8c8d 0%, #95a5a6 100%);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  margin-left: 1px;
  margin-right: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: relative;
}

.finalize-button:hover {
  background: linear-gradient(180deg, #7f8c8d 0%, #95a5a6 100%);
}

.finalize-button::after {
  content: attr(data-hover-text);
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  max-width: 600px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  line-height: 1.2;
}

.finalize-button:hover::after {
  opacity: 1;
}

.top-buttons {
  margin-left: 2px;
  margin-bottom:10px;
  display: flex;
  text-align: center;
  margin-top: 10px;
}

.status-image {
  width: 55px;
  height: auto;
}

.action-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.action-button:hover {
  background-color: #45a049;
}

.selected-items-box {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  max-height: 50px;
  overflow-y: auto;
}

.selected-item {
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: #f2f2f2;
  padding: 3px 8px;
  border-radius: 15px;
}

.selected-item span {
  margin-right: 5px;
}

.selected-item button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #666;
}

.inventory-search-container {
  display: flex;
}

.partition-button {
margin-right: 10px;
margin-left: -20px;
  color: #333;
  margin-top: 70px;
  font-size: 40px;
  display: flex;

}


.search-container {
margin-top: 3px;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  padding: 1em;
  border: 1.5px solid #0A1D44;
  border-radius: 25px;
  background-color: #fff;
  width: 80%;
  height: 80%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.search-input {
  flex: 1;
  color: #333;
  padding: 0.6em 1em;
  border: none;
  font-size: 1.5rem;
  border-radius: 25px;
  margin-bottom: 1em;
  outline: none;

}
.search-button {
  margin-top: 50px;
  margin-bottom: -40px;
  padding: 10px 20px;
  background: linear-gradient(to right, #987654, #bda089); /* Adjust the colors to achieve the desired bronze pastel effect */
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s, box-shadow 0.2s;

  /* Center horizontally */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content; /* Adjust the width as needed */
}


.search-button:hover {
  background-color: #0d47a1;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}


.add-to-search-button {
  padding: 2px 5px;
  min-width: 30px;
  height: 25px;
  background: linear-gradient(to right, #A9A9A9, #808080);
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.add-to-search-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.manual-button {
  padding: 8px 14px;
  min-width: 110px;
  height: 25px;
  background: linear-gradient(to right, #4A90E2, #2B71C4);
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.manual-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.search-button {
  margin-left: 540px;
  margin-top: -10px;
  margin-bottom: -60px;
  padding: 10px 20px;
  background: linear-gradient(to right, #5D4E157, #7CB342);
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s, box-shadow 0.2s;
}

.search-button:hover {
  background-color: #0d47a1;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.recipes-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1em;
  justify-content: center;
}


.recipe-header {
    background-color: rgba(255, 192, 203, 0.08); /* Light pink color with transparency */
    padding: 10px; /* Increased padding for better spacing */
    border-bottom: 2px solid #e9ecef;
    text-align: center;
    font-weight: bold;
    color: #5c7a77;
    text-transform: uppercase; /* Transform text to uppercase */
    max-width: 350px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the div horizontally */
}

.header-text {
    margin-top: 40px;
        margin-bottom: 0px;
    font-size: 40px;
    text-transform: uppercase; /* Transform text to uppercase */
}

.cursive-text {

    color: orange;
    margin-top: 80px;
    margin-left:25px;
    margin-bottom: 0px;
    font-size: 25px;
    font-family: 'Apple Chancery', cursive; /* Use Fairwater Script font */
    font-weight: bold; /* Make the font bold */
}

.sub-text {
    font-size: 14px; /* Adjust the font size as needed */
    margin-left:25px;
    color: black; /* Set the text color to black */
    font-family: Arial, sans-serif; /* Use a standard sans-serif font for a professional look */
    margin-top: 10px; /* Adjust the top margin as needed */
}

.gen-button {
    display: inline-block;
    margin-top:20px;
    margin-left:50px;
    padding: 10px 20px; /* Adjust padding for width and height */
    border-radius: 20px; /* Adjust border-radius for roundness */
    background-color: #FF5733; /* Orange-red color */
    color: white; /* Text color */
    font-size: 16px; /* Font size */
    text-align: center; /* Center text horizontally */
    text-decoration: none; /* Remove underline for links */
    border: none; /* Remove default button border */
    cursor: pointer; /* Cursor style */
}

/* Hover effect */
.gen-button:hover {
    background-color: #FF704D; /* Darker shade of orange-red */
}

.left-box{
background-color: ffe9a3;
width: 320px;
margin-right: 50px;
margin-left: 20px;
border-radius:10%;
}

.generation-header {
background-color: rgba(255, 192, 203, 0.08); /* Light pink color with transparency */
  padding: 15px;
  border-bottom: 2px solid #e9ecef;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #5c7a77;
}

.recipe-image-placeholder {
  width: 90%; /* Smaller width for images, adjust percentage as needed */
  height: auto; /* Height auto for maintaining aspect ratio */
  object-fit: cover;
  margin: auto; /* Centers the image within the card */
  background-color: #e9e9e9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.recipe-card.is-flipped .card-front {
  transform: rotateY(180deg);
}

.recipe-card.is-flipped .card-back {
  transform: rotateY(0deg);
}

@media (max-width: 768px) {
  .recipes-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .recipes-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .recipe-card {
    height: auto;
  }
  .recipe-image-placeholder {
    height: 40%;
  }
}


.card-section {
  margin-bottom: 10px; /* Adds spacing between sections */
}

.card-section strong {
  display: block; /* Makes label (e.g., 'Cooking Time:') a block element */
  margin-bottom: 5px; /* Spacing below the section label */
  color: #333; /* Darker text for better readability */
  font-size: 1rem; /* Slightly larger font size */
}

ul.ingredients-list {
  list-style-type: disc; /* Adds bullet points */
  margin-left: 20px; /* Indents list */
  padding-left: 0; /* Removes default padding */
}

ul.ingredients-list li {
  margin-bottom: 5px; /* Spacing between list items */
}



.card-back {
  background-color: #f7f7f7;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  padding: 20px;  /* Increased padding to avoid cutting text off */
  overflow-y: auto;
  align-items: flex-start;
    border-radius: 5px;

  text-align: left;
  box-sizing: border-box; /* Ensures padding does not affect the total width */
}

.card-front, .card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: transform 0.6s;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px; /* Ensures padding is consistent */
  box-sizing: border-box; /* Ensures padding does not affect the total width */
}

.recipe-card {
  max-width: 400px;
  width: 100%;
  height: 400px;
  margin: 1em auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  perspective: 1000px;
  position: relative;
}
.cooking-button {
  background-color: #ffa213; /* Reddish-orange background */
  color: #fff; /* White text */
  border: none; /* Remove button border */
  padding: 10px 20px; /* Add padding to make button larger */
  font-size: 16px; /* Increase font size */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Show pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.cooking-button:hover {
  background-color: #ff4f3a; /* Darker shade of reddish-orange on hover */
}

/* Optional: Add additional styling for when button is clicked */
.cooking-button:active {
  transform: translateY(1px); /* Add slight downward movement when clicked */
}


.recipe-image-placeholder img {
  width: 85%;
  height: 85%;
  object-fit: cover; /* Ensure the image covers the entire container without distortion */
}

.recipe-name {
  position: absolute;
  bottom: -25px; /* Adjust as needed */
  left: 0;
  right: 0;
  text-align: center;
  font-size: 14px;
  color: #333;
}

.recipe-info {
  padding: 20px;
}

.recipe-title {
  margin-top: 0;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}


.recipe-ingredients {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.recipe-time {
  font-size: 1rem;
  color: #777;
}

.srecipes-container {
  display: flex;
  flex-wrap: fit;
  justify-content: center; /* Center the cards horizontally */
  align-items: flex-start; /* Align the cards to the top */

  padding: 5px; /* Add some padding */
}

.srecipe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px; /* Adjust the width as needed */
  height: 90px; /* Adjust the height to match the width for a perfect circle */
  background-color: #fff;
  border-radius: 50%; /* Set border-radius to 50% for a circle */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 12px;
  overflow: hidden; /* Ensure content doesn't overflow the circular shape */
}


.srecipe-card img {
  width: 100%;
  height: 100%;
}


.srecipe-info {
  padding: 20px;
  text-align: left;
}

.srecipe-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.srecipe-ingredients {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: #777;
}

.srecipe-time {
  font-size: 1rem;
  color: #777;
}


/* Modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal content */
.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
  position: relative; /* Ensure relative positioning */
}

/* Close button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}






@media (max-width: 768px) {
  .inventory-container {
    margin-left: 50px;
    margin-right: 50px;
  }

  .recipes-container {
    margin-top: 20px;
  }
}

.recipe-minutes-div
{margin-left:130px;
}
.recipe-minutes {
  text-align: right;
  color: #333;
  font-size: 12px;
}

@media (max-width: 480px) {
  .inventory-container {
    margin-left: 20px;
    margin-right: 20px;
  }

  .recipes-container {
    margin-top: 10px;
  }
}


.recipe-instructions {
  font-weight: bold;
  color: black;
}

.recipe-preparation,
.recipe-ingredients {
  text-align: left;
  font-weight: bold;
  color: #333;
    margin-bottom: 20px;

}
.recipe-ingredients ol {
  list-style-type: decimal;
  padding-left: 20px;
}

.recipe-ingredients ol li {
  margin-bottom: 8px;
}

.suggestion-box {
display: flex;
    flex-direction: row;
    justify-content: space-between;
  margin-top: 100px;
    margin-bottom: 60px;
  width: 100%;
  background-color: fffee0;
}

@media (max-width: 768px) {
  .recipe-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .recipe-card {
    width: calc(100% - 40px);
  }
}

.heading {
  text-transform: uppercase;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  color: #4CAF50;
  letter-spacing: 0.3px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.message {
  font-weight: bold;
  text-align: center;
}

.tip {
  text-align: center;
  margin-top: 50px;
  color: #FFA500;
}

.previous-next {
  margin-top: 90px;
  background-color: transparent;
  color: black;
  font-size: 50px;
  border: none;
}

.previous-next:disabled {
  color: gray; /* Change font color to gray when disabled */
}



.srecipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.srecipe-card {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 12px;
  overflow: hidden;
}

.srecipe-card img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.recipe-title {
  text-align: center;
  font-size: 14px;
  color: #000000;
  margin-top: 10px;
}


.header-text {
  text-align: center;
}

.ingredients-text {
  text-align: center;
}
/* Rest of your CSS */


.cooking-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure the modal is on top of other content */
}


.modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.modal-content {
  text-align: center;
}

.modal-actions {
  margin-top: 20px;
}

.modal-actions button {
  margin: 0 10px;
}


.rec-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 2px solid #cccccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.rec-popup-content {
  text-align: center;
}

.rec-popup-content p {
  font-size: 12px;
  margin-bottom: 20px;
  color: #333333;
}

.rec-popup-buttons {
  display: flex;
  justify-content: center;
}

.rec-popup-buttons button {
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.rec-popup-buttons button:hover {
  background-color: #45a049;
}

