.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #4CAF50; /* Greenish color */
    color: #fff; /* Text color */
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-header {
    margin-bottom: 30px;
    padding: 0 10px;
    font-size: 18px; /* Increase font size */
    font-weight: bold; /* Make text bold */
  }
  
  .sidebar-item {
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff; /* Link color */
    transition: background 0.3s;
    font-size: 16px; /* Increase font size */
    font-weight: bold; /* Make text bold */
  }
  
  .sidebar-item:hover {
    background-color: #388e3c; /* Darker shade for hover effect */
  }
  
  /* Ensure links are styled properly even if visited */
  .sidebar-item:visited {
    color: #fff; /* Visited link color */
  }
  
  /* Adding a footer or additional section to the sidebar */
  .sidebar-footer {
    margin-top: auto;
    padding: 20px;
    border-top: 1px solid #388e3c; /* Use the same darker shade for border */
    font-size: 16px; /* Increase font size */
    font-weight: bold; /* Make text bold */
  }
  